{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": [2, 4],
    "no-unused-vars": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "no-restricted-syntax": [
      2,
      "BreakStatement",
      "DebuggerStatement",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}