.articleColumn {
    margin: 1em;
}

.article {
    display: flex;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
}


.articleImageColumn {
    max-width: 40%;
}
.articleImageColumn img {
    max-width:100%;
}